<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Calculator Test Suite">

    <test name="Calculator Tests">

        <groups>
            <run>
                <include name="smoke"/>
            </run>
        </groups>
        <classes>
            <class name="CalculatorAdditionTest"/>
            <class name="CalculatorSubtractionTest"/>
            <class name="CalculatorMultiplicationTest"/>
            <class name="CalculatorDivisionTest"/>
        </classes>

    </test>

</suite>